.wrapper{
    background-color: white;
    width: 450px;
    border-radius: 10px;
    border: 3px solid var(--blue);
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
}
.image{
    position: relative;
    left: calc(50% - 200px);
    margin-top: 15px;
    border-radius: 10px;
    border: 3px solid var(--blue);
    width: 400px;
    height: 225px;
}
.title{
    font-size: 20px;
    font-weight: 600;
    padding: 25px 25px 10px 25px;
}
.date{
    font-size: 16px;
    padding: 0px 25px 25px 25px;
    &__num{
        font-weight: 600;
    }
}



@media (max-width: 1100px) {
    .wrapper{
        width: 350px;
    }
    .image{
        left: calc(50% - 150px);
        width: 300px;
        height: 170px;
    }
}

@media (max-width: 860px) {
    .wrapper{
        margin-bottom: 30px;
    }
}

@media (max-width: 540px) {
    .wrapper{
        width: 300px;
    }
    .image{
        left: calc(50% - 125px);
        width: 250px;
        height: 140px;
    }
    .title{
        font-size: 16px;
    }
    .date{
        font-size: 14px;
        padding: 0px 25px 25px 25px;
        &__num{
            font-weight: 600;
        }
    }
}